.case-detail{
    p, h3 {
        color: #60646B;
        padding: 16px;
        line-height: 1.8em;
    }
    a { margin: 0 5px;
    }
 
  .slide-zoom {
    height: 100%;
  }
  .slide-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
  }
  .slide-description {
    margin-bottom: 30px;
  }
  .divider{
     margin: 20px 0;
     color: #0089c4;
     padding: 5px;
  }

  ion-card div h3{
      background-color : #efeff4;
  }
  
  ion-card div p{
      text-indent: 2em;
  }

}
